<div class="content-wrapper">
  <br>
  <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>
  
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      
        <h3>Get Started Quickly</h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Responsive Layouts</h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Modular</h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Plays Nice</h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      
    </div>
  </div>
</div>
