<h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

<div class="pure-g">
  <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
  
    <form class="pure-form pure-form-stacked" action="/mailout" method="POST">
      <label for="name">Your name</label>
      <input id="name" name="name" type="text">
     
      <label for="email">Your email</label> 
      <input id="email" name="email" type="email">
     
      <label for="comments">Your comments</label>
      <textarea id="comments" name="comments"></textarea>
      <br>
      <button type="submit" class="secondary-button  pure-button">Send Email</button>
    </form>
    
  </div>

  <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
    <h3>Contact Us</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
    </p>

    <h3>More Information</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
  